*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 40px 100px 0px;
    background-color: rgb(255, 208, 228);
    letter-spacing: 0.03em;
    line-height: 1.6;
}

header{
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */



.nav{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}
.logo-img{
    height: 80px;
}
.nav-link{
    color: #d90368;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-link:hover, .nav-link_active{
    background-color: #d90368;
    color: black;
    transition: 0.5s;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-item{
    font-size: 18px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-toggle{
    color: #d90368;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */


.cards{
    list-style: none;
    width: 100%;
    max-width: 1200px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cards .card{
    width: 330px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.cards .card img{
    width: 330px;
    height: 220px;
    object-fit: cover;
}

.cards .card h4{
    font-weight: 600;
}

.cards .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.cards .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
.card-foot{
    display: flex;
    justify-content: space-between;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */


.form-conteiner{
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5%;
    width: 60%;
    background-color: #d90368;    
    border-radius: 10px;
}
.contact label{
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    margin: 5px;
}
.contact input{
    width: 100%;
}
.contact label:hover{
    transition: 0.3s;
    color: black;
}
.contact .submit{
    font-weight: 800;
    margin: 15px 0;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    align-self: self-end;
    color: #f1efef;
    background-color: black;
}
.contact .submit:hover{
    transition: 0.5s;
    background-color: #f1efef;
    color: black;
}


/* ////////////////////////////////////////////////////////// */

.footer-conteiner{
    position: fixed;
    bottom:0;
    width: 100%;
    
}
.footer-conteiner .footer1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-sociales{
    display: flex;
    justify-content: center;
}
.footer-sociales i{
    font-size: 30px;
    padding:0 10px;
    color:black;
}
.footer-cohort{
    color: black;
    font-size: 23px;
    font-weight: 600;
    margin: 0 5px;
}


/* //////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width:880px){

    body{
        padding-top: 70px;
    }
    
    header{
        height: 60px;
        top:0;
        left:0;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
    
        margin: 0 auto;
    }
    .logo-img{
        height: 60px;
    }
    .nav-link{
        color: #d90368;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 3px;
    }
    .nav-link:hover, .nav-link_active{
        background: none;
        color: white;
    }
    
    .nav-menu{
        flex-direction: column;
        margin: 0;
        background-color: rgb(31, 30, 30);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-item{
        line-height: 70px;

    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
}
